/* ================ General ================ */

.card {
	height: 25em;
}

.card .card-content {
	padding-left: 1em;
}

.card .card-content-center {
	justify-content: center;
	align-items: center;
}

img {
	width: 100%;
}

.card-background {
	width: 100%; /* Ensures the background image covers the card */
	height: auto; /* Maintains aspect ratio */
	display: block;
}

h1 {
	margin-top: 0.5em;
}

h2 {
	font-size: 1.25em;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.social-icons .social-icon {
	display: inline-flex;
	height: 2rem;
	width: 2rem;
	border: solid 1px;
	border-radius: 100%;
	font-size: 1rem;
	margin-right: 1.5rem;
}

/* ================ Card 1 - Savannah ================ */

.savannah-background {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}

.pfp_savannah {
	position: absolute; /* Allows for precise positioning within the card */
	top: 55%; /* Centers the profile picture vertically */
	left: 25%; /* Centers the profile picture horizontally */
	transform: translate(-50%, -80%); /* Offsets the profile picture to truly center it */
	border-radius: 60%; /* Makes the image circular */
	border: 0.15em solid #fff; /* Border around pfp */
	width: 5em;
}

.card1 {
	padding: 1em;
	text-align: center;
	color: white;
	align-items: center;
	justify-content: center;
}

.card1 h1 {
	font-size: 2em;
	margin-top: 0;
}

.card-content {
	position: relative; /* Ensures text is above the background image */
}

.social-icons1 .social-icon {
	align-items: center;
	justify-content: center;
	color: #fff;
	border-color: white;
}

.social-icons1 .social-icon:last-child {
	margin-right: 0;
}

.social-icons1 .social-icon:hover {
	background-color: #7fffd4;
}

/* ================ Card 2 - Landon ================ */

.landon-background {
	width: 100%; /* Ensures the background image covers the card */
	height: auto;
	display: block;
	background: linear-gradient(-45deg, transparent 15px, #7fffd4 0);
}

.pfp_landon {
	position: absolute; /* Allows for precise positioning within the card */
	top: 55%; /* Centers the profile picture vertically */
	left: 25%; /* Centers the profile picture horizontally */
	transform: translate(-50%, -80%); /* Offsets the profile picture to truly center it */
	border-radius: 60%; /* Makes the image circular */
	border: 0.15em solid #fff; /* Border around pfp */
	width: 5em;
}

.card2 h1 {
	color: green;
	font-size: 1.5em;
}

.social-icons2 .social-icon {
	align-items: center;
	justify-content: center;
	color: green;
	border-color: green;
}

.social-icons2 .social-icon:last-child {
	margin-right: 0;
}

.social-icons2 .social-icon:hover {
	background-color: #7fffd4;
}

/* ================ Card 3 - Justin ================ */

.card3 h1 {
	color: black;
	font-size: 2em;
}

.social-icons3 .social-icon {
	align-items: center;
	justify-content: center;
	color: black;
	border-color: black;
}

.social-icons3 .social-icon:last-child {
	margin-right: 0;
}

.social-icons3 .social-icon:hover {
	background-color: #7fffd4;
}

/* ================ Card 4 - Gall ================ */

.card2,
.card3,
.card4 {
	position: relative; /* Makes the card the reference for absolute positioning */
	overflow: hidden; /* Ensures child elements don’t overflow outside the card */
}

.card4 h1 {
	color: hotpink;
	font-size: 1.5em;
}

.pfp_gall,
.pfp_justin {
	position: absolute; /* Allows for precise positioning within the card */
	top: 50%; /* Centers the profile picture vertically */
	left: 50%; /* Centers the profile picture horizontally */
	transform: translate(-50%, -50%); /* Offsets the profile picture to truly center it */
	border-radius: 50%; /* Makes the image circular */
	border: 0.15em solid #fff; /* Border around pfp */
}

.social-icons4 .social-icon {
	align-items: center;
	justify-content: center;
	color: hotpink;
	border-color: hotpink;
}

.social-icons4 .social-icon:last-child {
	margin-right: 0;
}

.social-icons4 .social-icon:hover {
	background-color: #7fffd4;
}

.pfp_gall {
	width: 8em;
	height: 8em;
	border-radius: 100px;
}

/* ================ Card 5 - Florence ================ */

.card5 h1 {
	color: darkgreen;
	font-size: 1.5em;
}

button {
	text-transform: uppercase;
	width: 10em;
	background-color: darkgreen;
	font-size: 0.8em;
	color: white;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
	padding: 0.5em 1em;
}

.floating-card-background {
	float: top;
}
