/* ================ General ================ */

.container {
	padding: 2em;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col-md-4,
.col-md-6 {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center card and h2 horizontally */
}

.card {
	height: 25em;
	width: 23em;
	margin-bottom: 1em;
}

.card .card-content {
	padding-left: 1em;
}

.card .card-content-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 1;
	margin: 0.5em;
}

img {
	width: 100%;
}

h1 {
	margin-top: 2em;
}

h2 {
	font-size: 1em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.social-icons .social-icon {
	display: inline-flex;
	height: 2rem;
	width: 2rem;
	border: solid 1px;
	border-radius: 100%;
	font-size: 1rem;
	margin-right: 1.5rem;
}

.social-icons .social-icon:hover {
	background-color: lightskyblue;
	color: white;
	border-color: black;
}

/* ================ Card 1 - Savannah ================ */
.blur-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: none;
	z-index: 0; /* Placing the container below the card content */
	filter: blur(5px); /* Applying blur to the container */
}

.savannah-background {
	width: 100%;
	height: 100%;
	display: block;
}

.pfp_savannah,
.pfp_justin {
	position: absolute;
	top: 30%; /* Centering the profile picture vertically */
	left: 50%; /* Centering the profile picture horizontally */
	transform: translate(
		-50%,
		-50%
	); /* Offsetting the profile picture to truly center it */
	border-radius: 50%; /* Making the image circular */
	border: 0.15em solid #fff; /* Border around pfp */
	width: 6em;
}

.card1 {
	padding: 1em;
	text-align: center;
	color: white;
	align-items: center;
	justify-content: center;
}

.card1 h1 {
	font-size: 1.8em;
}

.social-icons1 .social-icon {
	align-items: center;
	justify-content: center;
	color: #fff;
	border-color: white;
}

.social-icons1 .social-icon:last-child {
	margin-right: 0;
}

/* ================ Card 2 - Landon ================ */

.landon-background,
.gall-background {
	width: 100%; /* Ensuring the background image covers the card */
	height: 33%;
	display: block;
}

.pfp_landon {
	position: absolute;
	top: 38%;
	left: 15%;
	transform: translate(-50%, -80%);
	border-radius: 50%;
	border: 0.15em solid #fff;
	width: 4em;
}

.header-container {
	display: flex;
	margin-bottom: 0.5em;
}

.card2 h1 {
	color: #6ab04c;
	font-size: 1.2em;
}

.social-icons2 .social-icon {
	align-items: center;
	justify-content: center;
	color: #6ab04c;
	border-color: #6ab04c;
}

.social-icons2 .social-icon:last-child {
	margin-right: 0;
}

/* ================ Card 3 - Justin ================ */

.justin-background {
	width: 100%;
	height: 43%;
	clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
	/* top-left corner vertex (0 0), then top-right corner vertex (100% 0), then to the top right edge 40% down from the top (100% 40%), then to all the way to the bottom left corner(0 100%)*/
}

.card3 {
	background-color: rgb(241, 241, 241);
}

.card3 h1 {
	color: black;
	font-size: 1.8em;
	margin-top: 1em;
}

.social-icons3 .social-icon {
	align-items: center;
	justify-content: center;
	color: black;
	border-color: black;
}

.social-icons3 .social-icon:last-child {
	margin-right: 0;
}

/* ================ Card 4 - Gall ================ */

.card2,
.card3,
.card4 {
	position: relative; /* Making the card the reference for absolute positioning */
	overflow: hidden; /* Ensuring child elements don’t overflow outside the card */
}

.card4 h1 {
	color: #f6787c;
	font-size: 1.3em;
	margin-top: 2.6em;
}

.card4:hover {
	background-color: #f6787c;
	color: white;
}

.card4:hover h1 {
	color: white;
}

.card4:hover .social-icons4 .social-icon {
	color: white !important;
	border-color: white !important;
}

.pfp_gall {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: 0.15em solid #fff;
	width: 6em;
	height: 6em;
}

.social-icons4 .social-icon {
	align-items: center;
	justify-content: center;
	color: #f6787c;
	border-color: #f6787c;
}

.social-icons4 .social-icon:last-child {
	margin-right: 0;
}

/* ================ Card 5 - Florence ================ */

.floating-background {
	position: absolute;
	top: -1em;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	z-index: 1; /* Ensuring it is above the card */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Shading behind the image */
	border-radius: 0.5em; /* Rounding the corners */
}

.florence-background {
	align-self: center;
	width: 94%;
	height: 65%;
	display: block;
}

.card5 h1 {
	color: darkgreen;
	font-size: 1.3em;
	margin-top: 11.8em;
}

button {
	text-transform: uppercase;
	width: 10em;
	background-color: darkgreen;
	font-size: 0.8em;
	color: white;
	padding: 0.5em 1em;
}
