/* ================ General ================ */
img {
	width: 100%;
}

.card-background {
	width: 100%; /* Ensures the background image covers the card */
	height: auto; /* Maintains aspect ratio */
	display: block;
}

/* ================ Card 1 - Savannah ================ */
.card1 {
	padding: 1em;
	text-align: center;
	color: white;
}

.card-content {
	position: relative; /* Ensures text is above the background image */
}

.social-icons1 .social-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
	width: 3.5rem;
	color: #fff;
	border: solid;
	border-color: white;
	border-radius: 100%;
	font-size: 1.5rem;
	margin-right: 1.5rem;
}

.social-icons1 .social-icon:last-child {
	margin-right: 0;
}

.social-icons1 .social-icon:hover {
	background-color: #7fffd4;
}

/* ================ Card 2 - Landon ================ */

.pfp_landon {
	position: absolute; /* Allows for precise positioning within the card */
	top: 55%; /* Centers the profile picture vertically */
	left: 25%; /* Centers the profile picture horizontally */
	transform: translate(-50%, -80%); /* Offsets the profile picture to truly center it */
	border-radius: 60%; /* Makes the image circular */
	border: 0.25em solid #fff; /* Border around pfp */
	width: 5em;
}

.card2 h1 {
	color: green;
}

.social-icons2 .social-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
	width: 3.5rem;
	color: green;
	border: solid;
	border-color: green;
	border-radius: 100%;
	font-size: 1.5rem;
	margin-right: 1.5rem;
}

.social-icons2 .social-icon:last-child {
	margin-right: 0;
}

.social-icons2 .social-icon:hover {
	background-color: #7fffd4;
}

/* ================ Card 3 - Justin ================ */

.card3 h1 {
	color: black;
}

.social-icons3 .social-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
	width: 3.5rem;
	color: black;
	border: solid;
	border-color: black;
	border-radius: 100%;
	font-size: 1.5rem;
	margin-right: 1.5rem;
}

.social-icons3 .social-icon:last-child {
	margin-right: 0;
}

.social-icons3 .social-icon:hover {
	background-color: #7fffd4;
}

/* ================ Card 4 - Gall ================ */

.card2,
.card3,
.card4 {
	position: relative; /* Makes the card the reference for absolute positioning */
	overflow: hidden; /* Ensures child elements don’t overflow outside the card */
}

.card4 h1 {
	color: hotpink;
}

.pfp_gall,
.pfp_justin {
	position: absolute; /* Allows for precise positioning within the card */
	top: 50%; /* Centers the profile picture vertically */
	left: 50%; /* Centers the profile picture horizontally */
	transform: translate(-50%, -50%); /* Offsets the profile picture to truly center it */
	border-radius: 50%; /* Makes the image circular */
	border: 0.25em solid #fff; /* Border around pfp */
}

.social-icons4 .social-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
	width: 3.5rem;
	color: hotpink;
	border: solid;
	border-color: hotpink;
	border-radius: 100%;
	font-size: 1.5rem;
	margin-right: 1.5rem;
}

.social-icons4 .social-icon:last-child {
	margin-right: 0;
}

.social-icons4 .social-icon:hover {
	background-color: #7fffd4;
}

.pfp_gall {
	width: 8em;
	height: 8em;
	border-radius: 100px;
}

/* ================ Card 5 - Florence ================ */
.card5 h1 {
	color: darkgreen;
}

button {
	text-transform: uppercase;
	width: 10em;
	background-color: darkgreen;
	font-size: 0.8em;
	color: white;
	margin-top: 1em;
	margin-bottom: 0.75em;
	padding: 0.5em 1em;
}
